<%= render 'shared/navbar/navbarNormal' %>

<article class="full_size container_fluid">
    
        <div class="overlay_img_diensten"></div>
        <div  class="overlay_black" style="opacity: 0.3">
        </div>  
        <div class="row container_home_landing place_middle">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 smallhome">
                <h2 class="white">Digitale<br><br><br><br>Transformatie</h2><br>
                <p class="white titel_tekst">
                Peonier is uw partner in uw tranformatie, innovatie en voorutigang. Wij helpen bedrijven hun business modellen moderniseren, de ervaring voor hun klanten te verbeteren en hun online marketing efficienter te maken.            
                </p>
            </div>


        </div>
        
</article>


<article class="container full_width bgt1 headlines_wrap">
<h2 class="headlines">De wereld anno 2017</h2>

<picture class="full_size">
  <source media="(max-width: 767px)" srcset="/assets/responsive_images_767/trends.png">
  <source media="(max-width: 991px)" srcset="/assets/responsive_images_991/trends.png">
  <source media="(max-width: 1999px)" srcset="/assets/responsive_images_1999/trends.png">
  <% image_tag('trends.png', class: "full_size")%>
</picture>

</article>


<article class="container_fluid bgt4">   
<div class="subform_wrapper wrap_vert">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <h5 class="h3_diensten">De waarde van digital</h5><hr class="hrrood">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <p class="text_shade">
                De laatste jaren was er een record hoogte aantal faillissementen bereikt. Giganten als V&D zijn gesneuveld door niet te innoveren. Toch zijn er voorbeelden van bedrijven die de markt hebben veroverd zoals Bol.com of Coolblue. Door strategisch gebruik te maken van de nieuwe mogelijkheden zijn dergelijke bedrijven hun concurrentie te slim af.                
                </p>
            </div>
        </div>

<br>

        <div class="row" >
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <h5 class="h3_diensten">Twee soorten Innovatie</h5><hr class="hrrood">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
            <p class="defining_digital_paragraph part_of_section text_shade">De communicatie tussen onderneming en klant op z´n kop. Wij helpen u diepere en langdurige relaties met uw klanten op te bouwen. 
            Innoveren in het bedrijfsproces draait om inefficienties verwijderen. Wij onderzoeken welke processen geatomatiseerd kunnen worden en welke systemen verjaard zijn.
            </p>          
            </div>
        </div>

<br>
        <div class="row" >
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
            <h5 class="h3_diensten"> uw Digitale Partner</h5><hr class="hrrood">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
                <p class="defining_digital_paragraph part_of_section text_shade">30% van de ondernemingen blijft achter door een gebrek aan kennis. Als uw partner zorgen wij dat u daar niet bij hoort. Door ons advies op het gebied van strategie en klantrelaties behaalt u uw doelen.  </p>            
            </div>
        </div>
        


    <div class="clearfix"></div>
    </div>
</article>

<article class="container_fluid col-12 full_width wrap_vert wrap_hor bgt2" id="wrapper_business_trans">   

        <div class="row" >

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="h3_diensten">DIGITALE TRANSFORMATIE</h3><br>
            <h4>Het nieuwe denken</h4>
            <p class="diensten_tekst">De manier waarop u traditioneel gezien waarde levert aan uw klanten is drastisch veranderd. Dit vergt echter een hernieuwde innovatieve denkwijze.</p>
            </div>

        </div>

        <div class="row">

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <ul>
                <li class="li_dienst">
                <h5>Online Business Models</h5>

                <p class="diensten_tekst"> 
                    Ontdek nieuwe manieren om omzet te genereren.
                </p>
                </li><br>
                <li class="li_dienst">
                <h5> Innovatieve bedrijfsprocessen</h5>
                <p class="diensten_tekst">
                    Stroomlijn uw bedrijfsproces door automatisering en innovatie. 
                </p>
                </li>
            </ul>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <figure><%= image_tag('as1.png', class: "full_size")%></figure>
            </div>

        </div>


    <div class="clearfix"></div>
</article>

<article class="container_fluid col-12 full_width wrap_vert wrap_hor bgt1" id="wrapper_customer_exp">   
        <div class="row ">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="h3_diensten">Klantervaring</h3><br>
            <h4>24/7: De nieuwe Communicatie</h4>
            <p class="diensten_tekst">Door het internet en met name social media heeft u constant een open lijn om te communiceren met de consument. Met een shift in denkwijze kunt u diepe relaties opbouwen met uw klanten.</p>
            </div>

        </div>

        <div class="row ">

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <ul>
                <li class="li_dienst">
                <h5>Branding</h5>
                <p class="diensten_tekst"> 
                Vind uw CORE STORY. 
                </p>
                </li><br>
                <li class="li_dienst">
                <h5>Social Media Content</h5>
                <p class="diensten_tekst"> 
                Leer wat goede content is, en hoe je die op de juiste manier verspreid. Facebook, Instagram, Youtube, Snapchat en meer.
                </p>
                </li><br>
                <li class="li_dienst">
                <h5>Customer Relationship Management</h5>
                <p class="diensten_tekst"> 
                Zet de klant centraal in uw omni-channel strategie.
                </p>
                </li>
            </ul>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <figure><%= image_tag('as2.png', class: "full_size")%></figure>
            </div>

        </div>


    <div class="clearfix"></div>
</article>


<article class="container_fluid col-12 full_width wrap_vert wrap_hor bgt2" id="wrapper_gevonden_worden">   
        <div class="row ">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="h3_diensten">Online Marketing</h3><br>
            <h4>Effectieve Marketing</h4>
            <p class="diensten_tekst"> 
            Advertenties op tv of in de krant? Waarschijnlijk hebben die manieren van adverteren uw aandacht niet meer. Wij zetten advertentiecampagnes op die wel uw aandacht grijpen.            
            </p>
            </div>

        </div>

        <div class="row ">

            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <ul>
                <li class="li_dienst">
                <h5> Social Media Advertenties</h5>
                <p class="diensten_tekst"> 
                Wij zetten Facebook, Instagram of YouTube campagnes op.
                </p>
                </li><br>
                <li class="li_dienst">
                <h5>Data Analyses</h5>
                <p class="diensten_tekst"> 
                Wij gebruiken data bij onze beslisvoering en evaluaties.
                </p>
                </li><br>
            </ul>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <figure><%= image_tag('as3.png', class: "full_size")%></figure>
            </div>

        </div>


    <div class="clearfix"></div>
</article>