<%= render 'shared/navbar/navbarNormal' %>


        <article class="full_size container_fluid bgb">
        <div class="row container_home_landing place_middle">
            <div class="col-lg-6 col-md-9 col-sm-10 col-xs-10 col-centered">
               <h2 class="tagline over_onsh2 white">Bedankt voor uw bericht. Wij nemen zsm contact met u op.</h2>
                <p class="white titel_tekst hidden-xs">
                    Voor nu verwijzen wij u door naar de pagina met onze publicaties die u eventueel verder kunnen helpen</p>
            </div>

        <div class="box_home_landing box white_box col-centered"><%= link_to " > ", articles_path, class: "pijl"%><%= link_to "Publicaties", articles_path, class: "link_tekst"%>
        </div>

        </div>
        
    </article>