/* ...
*= require_self
*= require social-share-button
*/

@charset "UTF-8";

* { margin: 0; 
    padding: 0; 
}

html, body {height: 100%;}


body {    
    background-color: white;
    color: black;
    line-height: 1.5em;
    font-family: 'Ek Mukta';
    font-weight: 200;
    font-size: 100%;
}


.page{
    max-width: 100%;
    margin: 0 auto 0 auto;
    position: relative; 
    height: 100%;
}


.bgb{
    background-color: black;
}

.red{
    color: red;
}

.h50{
    height: 45em;
}

.h50p1{
    height: 50em;
    z-index: 1;
}

.black{
    color: black !important;
}

.white{
    color: white;
}


.full_size{
    width: 100%;
    height: 100%;
}


.full_size_img{
    height: inherit;
    width: auto;
}

.clearfix{
    clear: both;
}


.full_width{
    width: 100%;
}

.row1{
    width: 49.4%;
    display: inline-block;
}

.radio_buttons{
    display: inline-block;
}

.inline{
    display: inline-block;
}


.alignright{
    text-align: right;
}

.margin_padding_footer{
    margin: 0; 
    padding: 0;
}

.color1{
    color: #2f2c2a;
}

.color2{
    color: #93404D;
}

.color3{
    color: #2C6458;
}
/***********************************************************
************************************************************
***********************************************************
                         Wrappers
***********************************************************
************************************************************
***********************************************************/


.container_home_landing{
    position: relative;
    width: inherit;
}


.wrapper_inner_contact{
    width: 90%;
    max-width: 95em;
    margin: 0 auto;
    padding-bottom: 5em;  
    padding-top: 5em;
}


.place_middle{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.col-centered{
    float: none;
    margin: 0 auto;
}


.col-dienst{
    text-align: center;
    padding: 4.5em 0 5em 0;
}


.wrap_hor{
    padding-left: 10%;
    padding-right: 10%;
}

.wrap_vert{
    padding-top: 10%;
    padding-bottom: 10%;
}

.headlines_wrap{
    padding: 5% 6.5% 5% 6.5%;
}
/***********************************************************
************************************************************
***********************************************************
                         NAVBAR
***********************************************************
************************************************************
***********************************************************/
.navbar {
    margin-bottom: 0;
    background-color: transparent;
    height: 11em;
    border-style: none;
}



nav a { 
    color: white !important; 
}


.sticky {
    background: #fefefe;
    opacity: 0.95;
}

.sticky a{
    color: black !important;
}



li#contact{
    padding: 0 0.8em 0 0.8em;
    font-weight: 400;
} 



li#contact:hover{
    border-style: black;
    padding: 0 0.8em 0 0.8em;
    font-weight: 400;
    background-color: orange;
}


.silverHover a:hover{
    color: silver !important;
}

.silverHover:hover{
    color: silver !important;
}

li#diensten a:hover, li#leer a:hover, li#nieuw a:hover, li#Verhalen a:hover{
    color: orange !important;
    border-top: solid;
    border-color: orange;
    padding-top: 0.7em;
}



.navbar-brand{
    font-size: 4.2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}


ul#right{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 1.7em;
    border-width: thin;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 4em;
}

ul#left{

    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);    
}



.navbar-toggle {
     z-index:8;
}


#menutoggle{
    font-size: 2.5em;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 7%;
}

/******************************************************
******************************************************
*******************************************************
                        normale
******************************************************
******************************************************
*******************************************************/



h1 { 
    font-size: 4.7em;
    font-weight: 600;
    margin: 0em 0 0.35em 0;
    color: white;
    line-height: 1.1em;
}

h2 {
    font-size: 3.5em;
    font-weight: 500;
    line-height: 0.23em;
    letter-spacing: 0.001em;
    text-transform: uppercase;
}

h3 {
    font-size: 3em; 
    line-height: 1em;
    font-weight: 300;
}


.h3_diensten{
    text-transform: uppercase;
}

h4{
    font-size: 1.7em;
    font-weight: 300;
    font-style: italic;
}

h5{
    font-size: 2em;
    font-weight: 400; 
}

h6{
    color: #3399cc;
    font-size: 2em;
}

.tagline{
    display: inline-block;
    margin-right: 0.25em;
}

#tagline2{
    margin: 0 0.25em 0 0.25;
}




p{
    font-size: 1.9em;
    letter-spacing: 0.015em;
    font-weight: 200;
    line-height: 1.3em;

}

p.klein{
    font-size: 1.7em;
    letter-spacing: 0.01em;
    font-weight: 300;
    line-height: 1.1em;
}



p.diensten_tekst{
    font-weight: 200; 
    font-size: 1.5em;
    margin-top: -0.5em;
}

p.tekst{
    font-weight: 300;
    font-size: 1.8em;
    letter-spacing: 0.025em;
    line-height: 1em;
    word-spacing: 0.1em;
}

p.titel_tekst{
    font-size: 1.8em;
    line-height: 1.6em;
    letter-spacing: 0.05em;
}

p.text_shade{
    font-size: 1.6em;
}

.contact_p{
    font-size: 1.3em;
}


figure{
    overflow: hidden;

}

hr {
    border: none;
    height: 0.3em;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

/******************************************************
******************************************************
*******************************************************
                        LINKS
******************************************************
******************************************************
*******************************************************/


a{
    color: white;
}



a:hover {
    color: white;
    text-decoration: none;
}



.articles_a div li a{
    color: black !important;
}

.stories_a div li a{
    color: black !important;
}

/******************************************************
******************************************************
*******************************************************
                        Box'
******************************************************
******************************************************
*******************************************************/




.box{
    border-style: solid;
    border-width: thin;
    width: 19em;    
    height: 4.7em;
    margin: 0 auto;
    text-align: center;
}

.box a{
    font-size: 1.7em;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
}


.white_box{
    border-color: white;
}

div.white_box:hover{
    background-color: red;
    border-style: none;
}


.black_box{
    border-color: black
}

.black_box a.link_tekst1{
    color: black!important;
}

.black_box a.link_tekst2{
    color: black!important;
}

.black_box a.link_tekst3{
    color: black!important;
}

.black_box a.link_tekst4{
    color: black!important;
}

.black_box a.link_tekst1:hover{
    color: white!important;
}

.black_box a.link_tekst2:hover{
    color: white!important;
}

.black_box a.link_tekst3:hover{
    color: white!important;
}

.black_box a.link_tekst4:hover{
    color: white!important;
}

div.black_box:hover{
    background-color: black;
    border-style: none;
}


.box_home_landing{
    width: 15em;
    position: relative;
    top: 4em;
    height: 4.7em;
}


.pijl{
    padding: 1em 0.25em 1em 1em;
    color: red;
}


.link_tekst1{

    padding: 1em 1em 1em 0.25em;
}

.link_tekst2{

    padding: 1em 1em 1em 0.25em;
}

.link_tekst3{

    padding: 1em 1em 1em 0.25em;
}



.down_arrow{
    position: absolute;
    z-index: 2;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 7%;
}

.down_arrow figure{
    height:100%;
    width:100%;
}

.phonearrow{
    position: absolute;
    bottom: 4%;
}

/******************************************************
******************************************************
*******************************************************
                        Overlays
******************************************************
******************************************************
*******************************************************/
.bgt3{
    background-color: #fcfcfb;;
}

.bgt1{
    background-color:  #fdfbfa;
}

.bgt2{
    background-color: #fefdfc;
}

.bgt4{
    background-color: #fcf9f7;
}


.overlay_black{
    background-color: black;
    width: inherit;
    height: inherit;
    opacity: 0.4;
    position: absolute;
    z-index: -1;

}

.overlay_img{
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -2;
    background-image: image-url('ipadhome.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
}

.overlay_img_diensten{
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -2;
    background-image: image-url('fonaedit.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
}

.overlay_tint{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.07;
    position: absolute;
    z-index: -1;
}


.overlay_figure:hover{
    background-color: white;
    opacity: 0.7;
}



div#overlay_video {
    display: none;
    z-index: 3;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}

div#videoBox {
    display: none;
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: #000;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.closeBut{
    background-color: transparent;
    border-style: none;
}

.closeIMG{
    width: 2em;
    height: 2em;
}
/******************************************************
******************************************************
*******************************************************
                        Losse shit
******************************************************
******************************************************
*******************************************************/

.artland{
    margin-top: 5em;
}



.normal_blog{
    margin-bottom: 10em;
}

.fixed_blog{
    position: fixed;
}


.blog_titel{
    font-weight: 500;
}

.blog_tag{
    font-size: 3em;
}


.lees_meer{
    font-weight: 500; 
    color: #3399cc;
    font-size: 1.2em;
    position: absolute;
    padding: 3% 2.4% 3% 0%;
}

.lees_meer:hover{
    color: #2979a0;
}

.blog_preview{
    font-weight: 600;
    font-size: 2.2em;
}

.subform_wrapper{
    margin: 0 auto;
    width: 85%;
}

.subform_contianer{
    width: 70%;
    margin: 0 auto;
}


.fixed_blog h1{
    font-weight: 800;
    font-size: 6em;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    padding: 0.1em 0.3em 0 0;
}



.social_links{
    width: 100%;
    max-width: 30em;
    margin: 0 auto;
}

.sm_list{
    display: inline-block;
    width: 24.4%;
    height: 100%;
    margin-top: 0.5em;
}

.sm_button_bw{
    border-style: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.sm_button_bw a{
    width: 100%;
    height: 100%;
}

.sm_button_bw img{
    height: 100%;
    width: 100%;
}


.fixed_blog h2{
    text-transform: uppercase;
    font-size: 3.7em;
    font-weight: 400;
}

.must_read_container figure{
    height: 15em;
    background-color: red;
}

.must_read_container h3{
    text-align: center;   
    font-size: 5em;
    font-weight: 800;
    margin-top: -0.05em; 
}




.container_content{
    width: 100%;
    max-width: 100em;
    margin: 0 auto;
    height: 50em;
}



.test_wrap{
    width: 100%;
    max-width: 130em;
    margin: 0 auto;
}
.test_wrap2{
    width: 100%;
    max-width: 160em;
    margin: 0 auto;
    overflow: hidden;
}

.user_avatar{
    height: 8em;
    width: 8em;
}

.bold{
    font-weight: 700;
}


.container_social_share{
    width: 2em;
};

.back_cont{
    width: 100%;
    height: auto;
    max-height: 40em;
    overflow: hidden;
}

.back_cont figure{
    height: auto;
    width: 100%;
    max-width: 100em;
    margin: 0 auto;
}

.back_cont img{
    height: auto;
    width: 100%;
}

.wrapper_article{
    background-color: white;
}


.story_figuur{
    width: 100%;
    height: auto;
    position: relative;
}

.story_figuur img{
    width: 100%;
    height: inherit;
    position: relative;
}


.button_container{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-style: none;
}

.play_icon1{
    width: 20em;
    height: 20em;
}


.overlay_select2{
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 1;
}


.overlay_select2:hover{
    opacity: 0.1;
}

.button_container:hover ~ .overlay_select{
    opacity: 0.2;
}


.subscribe_container{
    margin-top: 5em;
}



.figure_multiple{
    height: 25em;
    width: 100%;
    margin: 0 auto;
}

.subtitle_multiple{
    height: 10em;
    width: 100%;
    background-color: #d3d3d3;
    margin: 0 auto;
    position: relative;
}

.container_story{
    margin-top: 2em;
}

.padding-bottom8{
    padding-bottom: 8em;
}


.index_story_title{
    margin-top: 0;

    font-size: 2em;
}

.blog_tag_multiple{
    text-align: center;
}




/***********************/
/***********************/
/************************/

#footer{
    background-color: black;
    overflow: hidden;
    padding-bottom: 2em;
}

.footeritem{
    text-align: center;
}


.footerlist{
    position: relative;
    top: 2em;
}

.footerlist li{
    font-size: 1.7em;
    font-weight: 400;
    padding: 0.5em 0 0.5em 0;
    list-style-type: none;
}

.footerlist button{
    max-width: 4em;
    overflow: hidden;
}

#wrapper_inner_footer{
    width: 90%;
    max-width: 85em;
    margin: 0 auto;    
}




.affoe1{
    width: 40%;
    height: inherit;
}

.affoe2{
    height: inherit;
    width: 60%;
    vertical-align: middle;
    padding: 10% 10% 10% 10%;
}


.hrrood{
    color: #880015;
    background-color: #880015;
}

@media (max-width: 767px){
body{
    font-size: 0.85em;
}
.overlay_img{
    background-image: image-url('ipadhome2.jpg'); 
}

.overlay_img_diensten{
    background-image: image-url('fonaedit3.png'); 
}


.col-dienst{
    padding: 2em 0 2.8em 0;
}

.h50{
    height: auto;
}

.full_size_img{
    width: 100%;
    height: auto;
}

.affoe1{
    width: 100%;
    max-height: 50em;
}
.affoe2{
    width: 100%;
}

.overlay_black{
    opacity: 0.3;
}

.smallhome{
    margin-top: 45em;
}

.subscribe_container h1{
    padding-left: 0.22em;
    font-size: 4.5em;
}

p.diensten_tekst{
    font-size: 1.6em;
}

.headlines_wrap{
    padding: 10% 0 10% 0;
}

.headlines{
    line-height: 1em;
    padding-left: 10%;
}

.wrap_hor{
    padding: 0 7.5% 0 7.5%;
}
}

.li_dienst{
    list-style-type: none;    
}